*{
    margin:0;
    padding:0;
}
body{
    background-color:rgb(231, 231, 231);
    font-family: "Raleway", sans-serif;
}

/* header section styling */
.container{
    max-width:1000px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
}

.profile{
    width:150px;
    height:150px;
    border:2px solid white;
    border-radius: 150px;
    float:left;
}
.header-bio{
    float:left;
    padding: 40px 20px 40px 20px;
}
h1,h2,h3,h4,h5,h6{
    color:rgb(56, 129, 129);
    font-family: "Merriweather", serif;
    padding: 1px;
}

.header-contact{
    float:right;
    padding:40px;
}
.header-contact a{
    text-decoration: none;
    color:teal;
    font-weight: bold;;
}
.header-contact a:hover{
    text-decoration: underline;
    color:tomato
}

.div-clear{
    clear:both;
}

hr{
    border: 2px solid rgb(231, 231, 231);
    width:100%;
    margin: 20px auto;
}






/* main section styling */

.content{
    padding:10px;
}
.left-div{
    width: 30%;
    float:left;
}
.right-div{
    width: 70%;
    float:left;
}

.common-hr{
    border:1px solid rgb(231, 231, 231);
    width:100%;
    margin:20 auto;
}



.edu-left{
    float:left;
    width:45%;
}
.edu-right{
    float:right;
    width:45%;
}





/* footer section styling */
.bottom-container{
    background-color:black;
    text-align:center;
    padding: 20px;
}
.bottom-container a{
    color: white;
    text-decoration:none;
    margin: 20px;
}
.bottom-container a:hover{
    color:aqua
}
.bottom-container p{
    color: rgb(155, 150, 150);
    font-size:15px;
    margin: 20px;
}
